.department-card{
  padding: 2em;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.475);
  transition: background-color 0.51s, color 0.51s;
  color: rgb(0, 41, 41);
}

.department-card:hover{
    background-color: dodgerblue;
    color: white;
}

/* BOOKING FORM */

form{
  margin: 2em 0em;
  padding: 1rem;
  border: 1px solid darkcyan;
  border-radius: 7px;
}

input{
  margin-top: 7px;
  padding: 8px;
  width: 100%;
  height: 2.5em;
  border-radius: 5px ;
  border: 1px solid darkcyan;
}

input:focus{
  outline: dodgerblue;
}

.from-group{
  margin: 1em 0em;
}

.form-two-section{
  display: flex;
  gap: 3em;
}