/* @import "tailwindcss"; */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(235, 235, 235);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section{
  margin: 1em;
  min-height: 60vh;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
  display: block;
}

.section-span{
  color: dodgerblue;
  font-weight: bolder;
  font-size: 1.4em;
  margin-bottom: 2em;
}

.section-heading{
    color: darkcyan;
  margin-top: 0.51em;
}


/* HEADER SECTION */
header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.142);
  backdrop-filter: blur(15px);
  width: 100%;
  top: 0;
  padding: 1em;
  align-items: center;
  position: fixed;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 2em;
}

header nav ul a{
  text-decoration: none;
}

/* HERO SECTION */
.hero-section{
  display: flex;
  justify-content: space-between;
  /* margin: 4em 1em 1me 1em; */
  margin-top: 4em;
  background-color: rgba(0, 255, 255, 0.183);
}

.hero-textual-content {
  margin: 3em;
}

.hero-textual-content h1{
  font-size: 4em;
  color: dodgerblue;
}

.hero-p-container{
  display: flex;
  gap: 2em;
  margin-top: 1em;
  color: rgb(4, 45, 57);
}

/* ABOUT SECTION */

.about-section{
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
}


/* DEPARTMENTS SECTION */
.department-section{
  margin-top: 6em;
}
.department-container{
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1em;
}

/* TESTIMONIAL SECTION */

.testimonial-section{
  margin-top: 7em;
}

.testimonial-section-container{
  margin-top: 1em;
  background-color: aqua;
  padding: 1em;
  border-radius: 10px;
  min-height: 80vh;
}

.testimonial-header{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.testimonials-container{
  display: flex;
  gap: 1em;
  /* justify-content: ; */
}

.testimonial-card{
    display: flex;
    padding: 1em;
}

.testimonial-content{
  background-color: gainsboro;
  border-radius: 10px;
}


/* HOW IT WORKS SECTION */

.how-it-works-section{
  min-height: 100vh;
}

.how-it-works-container{
  display: flex;
  justify-content: center;
}

.hiw-timeline{
  width: 3px;
  height: 150vh;
  background-color: rgb(0, 170, 255);
}

/* CALL TO ACTION TEXT */

.call-to-action-container{
  display: flex;
  justify-content: space-around;
  background-color: rgba(193, 224, 255, 1);
  align-items: center;

}

.call-to-action-image{
  max-width: 20em;
}

/* APPOINTMENT BOOKING SECTION */


.booking-image{
  max-width: 20rem;
}

.appoint-container{
  display: flex;
  justify-content: space-around;
}



/* SUBSCRIBE SECTION */

.subscribe-section{
  /* background-color: gray; */
  display: flex;
  justify-content: center;
}

.subscribe-section .subscribe-container{
  background: white;
  width: 65em;
  padding: 1em;
  border-radius: 10px;
  /* position: absolute;
  margin-bottom: 10em; */
}

.input-container{
  display: flex;
  gap: 1em;
  align-items: center;
}

.sub-btn{
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 5px;
  width: 15em;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.3em;
  transition: background-color 1s;
}

.sub-btn:hover{
  background-color: rgb(0, 82, 164);
}

/* FOOTER */

footer{
  min-height: 50vh;
  background-color: dodgerblue;
  color: white;
}

.footer{
  display: flex;
  justify-content: space-around;
}

.footer div{
  margin-top: 5em;
  margin-bottom: 3em;
}