/* @import "tailwindcss"; */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(235, 235, 235);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section{
  margin: 1em;
  min-height: 60vh;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
  display: block;
}


/* HERO SECTION */
.hero-section{
  display: flex;
  justify-content: space-between;
  margin: 0em 1em 1me 1em;
  background-color: rgba(0, 255, 255, 0.183);
}

header {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 2em;
}

header nav ul a{
  text-decoration: none;
}

/* ABOUT SECTION */

.about-section{
  display: flex;
  justify-content: space-between;
}


/* DEPARTMENTS SECTION */
.department-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1em;
}